/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    color-scheme: dark;
  }
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}